<app-admin-parent-edit *ngIf="parentSelected" [parent]="parentSelected" (parentUpdated)="updateParents()"></app-admin-parent-edit>
<div class="card">
    <div class="card-header">
        <div class="row">
            <h2 class="ml-2">Acudientes</h2>
            <img class="mx-3" src="../../../assets/plusTeacherParent.png" alt="" width="32px" height="32px">
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let parent of parents">
                    <td>{{parent.identificationDocument}}</td>
                    <td>{{parent.name}}</td>
                    <td>{{parent.lastName}}</td>
                    <td>{{parent.phoneNumber}}</td>
                    <td><button class="btn btn-primary btn-sm" (click)="editParent(parent)">Editar</button></td>
                    <td><img (click)="deleteParent(parent.id)" src="../../../assets/close.png" alt="" style="width: 24px; cursor: pointer;"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

