<app-parent-student-assignments *ngIf="studentCourse" [studentCourse]="studentCourse"></app-parent-student-assignments>
<div class="card">
    <div class="card-header">
        <h2>{{student.name}} {{student.lastName}}</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Asignaciones</th>
                    <th>Asistencia</th>
                    <th>TP</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of student.courses">
                    <td>{{course.subject.name}}</td>
                    <td><button (click)="showAssignments(course)" class="btn btn-primary btn-sm">Ver</button></td>
                    <td><button class="btn btn-primary btn-sm">Ver</button></td>
                    <td><button class="btn btn-primary btn-sm">Ver</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
